<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.ebraheem.restaurants">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.restaurant.RestaurantsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- todo: Not handled -->
                <!-- deeplinks zomato://restaurant/{id} -->
                <data
                    android:host="restaurant"
                    android:pathPrefix="/.*"
                    android:scheme="zomato" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.search_city.SearchCityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SearchCityActivityTheme">

        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>


</manifest>